{%- comment -%}
  Promo Badge
  Controlled by product metafield: custom.promo_badge (True/False)
{%- endcomment -%}

{%- if product.metafields.custom.promo_badge == true -%}
<div class="promo-badge-item" id="promo-badge-f80">
   <span class="promo-badge-text">Cyber Week Deal</span>
</div>
{%- endif -%}

<script>
document.addEventListener("DOMContentLoaded", function () {
  const promo = document.getElementById("promo-badge-f80");
  if (!promo) return; // Exit if metafield disabled

  // Price block container
  const priceBlockItem = document.querySelector(
    '.product-info__block-item[data-block-id="price"]'
  );

  // Inside price block
  const priceInner = document.querySelector(
    '.product-info__block-item[data-block-id="price"] .product-info__price'
  );

  // Move promo badge under price
  if (priceInner) {
    priceInner.insertAdjacentElement("afterend", promo);
  }

  // Add class if needed
  if (priceBlockItem) {
    priceBlockItem.classList.add("withpromo_badge");
  }
});
</script>


<style type="text/css">
.product-info__block-item .promo-badge-item{

  background:rgb(157 34 39);
  display: inline-block;
  font-family: 'Barlow Condensed';
  font-size:0.85rem;
  text-transform: | capitalize;
  font-weight: bold;
  color: #fff;
  padding: 0px 11px;
  border-radius: 10px;
}

	
.product-info__block-item.withpromo_badge {
display: flex !important;
    align-items: center;
	gap: 10px;}
	
</style>