<div id="truemed-instructions-1730830604812" class="truemed-instructions">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

    .truemed-entry-box {
      display: flex;
      align-items: center;
      gap: 6px;
      font-family: "DIN Next", sans-serif
      font-size: 16px;
    }

    .truemed-entry-text {
      color: #000000bf;
    }

    .truemed-entry-logo {
      width: 15px;
      height: 15px;
    }

    .truemed-entry-bold {
      font-weight: 700;
    }

    .truemed-link {
      color: #179895;
      text-decoration: underline;
      cursor: pointer;
      transition: color 0.2s ease;
    }

    .truemed-link:hover {
      color: #0f7a69;
    }
  </style>

  <div class="truemed-entry-box" style="margin-top: 8px;">
    <svg class="truemed-entry-logo" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <title>Truemed Logo</title>
      <path d="M7.43864 3.2601C6.68931 3.2601 6.08187 3.86738 6.08187 4.61653C6.08187 5.36567 6.68931 5.97295 7.43864 5.97295C8.18798 5.97295 8.79542 5.36567 8.79542 4.61653C8.79468 3.86764 8.18765 3.26084 7.43864 3.2601Z" fill="#179895"></path>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33106 3.73625C3.68643 0.329067 8.35872 -0.524118 11.7668 1.83072C15.1717 4.18991 16.023 8.85977 13.6697 12.2683C11.313 15.672 6.64345 16.5229 3.23709 14.1693C-0.170978 11.8145 -1.02438 7.14349 1.33106 3.73625ZM3.14876 12.4838L7.06569 8.39533L1.26302 8.39467C1.27909 8.63859 1.30911 8.88139 1.35295 9.1218C1.58271 10.4035 2.21117 11.58 3.14876 12.4838ZM6.37671 1.85715C3.72545 2.34261 1.68315 4.47098 1.30799 7.13939H13.6842C13.2565 4.05718 10.6238 1.76038 7.51132 1.75404C7.13081 1.75417 6.75101 1.78867 6.37671 1.85715ZM4.14121 13.2658C6.18582 14.5669 8.79788 14.5715 10.8471 13.2776L7.48819 9.77224L4.14121 13.2658ZM12.6389 11.5524C13.2842 10.6192 13.6626 9.5276 13.7332 8.39533L7.90937 8.39798L11.8382 12.4963C12.1353 12.2086 12.4034 11.8923 12.6389 11.5524Z" fill="#179895"></path>
    </svg>
    <span class="truemed-entry-text truemed-entry-bold">Pay with HSA/FSA </span>
    
    <span class="truemed-entry-text">Pre-Tax Funds</span>
    <a href="https://www.soletreadmills.com/pages/truemed-shop-with-hsa-fsa-funds" class="truemed-link" target="_blank">Learn More</a>

  </div>
</div>
